on:
  pull_request:
    types: [opened, synchronize, reopened]

name: E2E test
jobs:
  e2e:
    name: E2E Tests
    strategy:
      matrix:
        go-version: [ 1.15.x ]
        platform: [ ubuntu-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/cache@v2.1.6
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Run nodes
        run: docker-compose -f ./e2e/evm-evm/docker-compose.e2e.yml up -d
      - name: Run tests
        run: make e2e-test
        continue-on-error: true
      - run: |
          docker ps -a
          docker logs relayer1
